<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Angular Skeleton</title>
		
		<meta name="description" content="Angular Skeleton">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
		<link rel="apple-touch-icon" href="../images/icon.png" />

		<link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../libs/fontawesome/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

		<script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../libs/angular/angular.min.js"></script>
		<script type="text/javascript" src="../libs/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="../libs/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="../libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="../libs/angular-ui-router/release/angular-ui-router.min.js"></script>

		<script type="text/javascript" src="../scripts/app.js"></script>
		<script type="text/javascript" src="../scripts/services.js"></script>
		<script type="text/javascript" src="../scripts/controllers.js"></script>
	</head>
	<body ng-app="skeleton" ng-controller="MainController">
		<div class="wrapper">
			<div class="home">
			    Angular Skeleton
			</div>
		</div>
	</body>
</html>